<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email id</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user) => { %>
    <tr>
      <th scope="row"><%= user.id %></th>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email_id %></td>
      <td><%= user.phone %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
