<h2 class="pageHeading">Update user</h2>
<form
  action="http://localhost:8000/api/users/<%= user.id %>/updateForm"
  method="POST"
>
  <div class="update-user-input">
    <input
      id="first_name"
      name="first_name"
      type="text"
      class="form-control"
      value="<%= user.first_name %>"
      placeholder="First Name"
      aria-label="first_name"
      aria-describedby="basic-addon1"
    />
  </div>
  <div class="update-user-input">
    <input
      id="last_name"
      name="last_name"
      type="text"
      value="<%= user.last_name %>"
      class="form-control"
      placeholder="Last Name"
      aria-label="last_name"
      aria-describedby="basic-addon1"
    />
  </div>

  <div class="update-user-input">
    <input
      id="email_id"
      name="email_id"
      type="text"
      value="<%= user.email_id %>"
      class="form-control"
      placeholder="Email"
      aria-label="email_id"
      aria-describedby="basic-addon1"
    />
  </div>

  <div class="update-user-input">
    <input
      id="phone"
      name="phone"
      type="text"
      value="<%= user.phone %>"
      class="form-control"
      placeholder="Phone"
      aria-label="phone"
      aria-describedby="basic-addon1"
    />
  </div>

  <div class="user-update-button">
    <button type="submit" class="btn btn-secondary">Update Article</button>
  </div>
</form>
