<h1>About Users</h1>
<table>
  <tbody>
    <tr>
      <td>First Name</td>
      <td><%= user.first_name %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%= user.last_name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= user.email_id %></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><%= user.dob %></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><%= user.phone %></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><%= user.gender %></td>
    </tr>
  </tbody>
</table>
